@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

/* Custom CSS file for PopularItem */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  color: #333;
  top: -10px;
  right: 10px;
  transform: translateY(-50%);
}

.swiper-button-prev {
  margin-right: 60px;
}

.swiper-button-next {
  margin-right: 0;
}
.swiper-button-next-custom,
.swiper-button-prev-custom {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.bookContainer {
  background-image: url("./assets/booktablebanner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footerContainer {
  position: relative;
  background-image: url("./assets/footerbg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
  z-index: 1;
}

.footerContainer > * {
  position: relative;
  z-index: 2; /* Ensure that content stays above the overlay */
  color: white;
  opacity: 90%;
}
